// 设置标签默认样式
* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $font-size-base;
  font-weight: 500;
}

button,
input,
select,
textarea {
  outline: 0;
  border: 0;
  background: none;
  -webkit-appearance: none;
  @include placeholderColor();
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
  border: 0;
}

em,
i {
	font-style: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: .5s;

  &:active,
  &:hover {
    text-decoration: none;
    color: var(--color-theme);
  }
}

body {
  background-color: var(--color-background);
  font: $font-size-base "system-ui","PingFangSC-Regular","Microsoft Yahei";
  color: var(--color-text);
}

html,
body,
#app,
#app > .container {
  width: 100%;
  height: 100%;
}
